body {
  background-color: lightsteelblue;
  font-size: 25px;
}

.book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: 22.5rem;
  perspective: 70rem;
}

@media screen and (max-width: 600px) {
  .book {
    transform: rotate(90deg);
  }
}

.cover {
  background-color: BLACK;
  transform: rotateY(0deg);
  width: 19.5rem;
  height: 22.5rem;
  text-align: center;
  font-family: 'Corinthia', cursive;
  font-size: 35px;
  color: white;
}

.page {
  top: 0.25rem;
  background-color: lightblue;
  transform: rotateY(0deg);
  width: 19rem;
  height: 22rem;
  text-align: left;
  font-size: 13px;
  color: cornflowerblue;
  font-family: monospace;
}

hr {
  margin-bottom: 25px;
}

.cover,
.page {
  transform-origin: left;
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cover.turn {
  z-index: 5;
}

.cover .treeimg {
  position: absolute;
  bottom: 0px;
  left: 90px;
  margin: auto;
  width: 150px;
  filter: brightness(100);
}

.cover .coupleimg {
  position: absolute;
  width: 150px;
  bottom: -15px;
  left: 150px;
  filter: brightness(0) invert(1);
}

.page .roseimg {
  position: absolute;
  width: 50px;
  right: 150px;
  transform: rotate(30deg);
  bottom: 0px;
}

.page p {
  transform: rotateY(180deg);
  margin: 0;
}

.textpage p {
  transform: rotateY(0deg);
}

.page {
  z-index: 5;
  font-family: 'Sassy Frass', cursive;
}

.page .head {
  margin: 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.book.open .cover.turn {
  transform-origin: left;
  animation: bookCover 3s forwards;
}

.book.open .page.turn {
  transform-origin: left;
  animation: bookOpen 3s forwards;
}

.book.open .page:nth-of-type(1) {
  animation-delay: 0.05s;
}

.book.open .page:nth-of-type(2) {
  animation-delay: 0.33s
}

.book.open .page:nth-of-type(3) {
  animation-delay: 0.66s;
  display: none;
}

.book.open .page:nth-of-type(4) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 0.99s;
}

.book.open .page:nth-of-type(5) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.2s;
}

.book.open .page:nth-of-type(6) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.25s;
}

.book.open .page:nth-of-type(6) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.3s;
}

.book.open .page:nth-of-type(7) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.35s;
}

.book.open .page:nth-of-type(8) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.4s;
}

.book.open .page:nth-of-type(9) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.45s;
}

.book.open .page:nth-of-type(10) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.5s;
}

.book.open .page:nth-of-type(11) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.55s;
}

.book.open .page:nth-of-type(12) {
  transform-origin: left;
  animation: bookOpen175deg 3s forwards;
  animation-delay: 1.6s;
}

.book.open .textpage {
  font-size: 25px;
  font-family: 'Corinthia', cursive;
  z-index: 4;
}

@keyframes bookOpen {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(-180deg);
    z-index: 999;
  }
}

@keyframes bookCover {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(-180deg);
    z-index: 1;
  }
}

@keyframes bookOpen175deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(-170deg);
    z-index: 999;
  }
}

@keyframes bookOpen150deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(-170deg);
    z-index: 999;
  }
}

@keyframes bookOpen55deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(-170deg);
    z-index: 999;
  }
}

@keyframes bookOpen30deg {
  50% {
    z-index: 999
  }

  100% {
    transform: rotateY(-170deg);
    z-index: 999;
  }
}
